/*
Ribbon Banner Message
 */
.top-ribbon.row {
  font-family: Public Sans, sans-serif;
  box-shadow: none;
  border: none;
  margin: auto;
  max-height: 36px;
}

/*
Ribbon Banner Link Message
 */
.underlined.blue.text {
  color: blue;
  text-decoration: underline;
}

/*
The Middle Bar Row
 */
.the-middle-bar.row {
  background-color: #154e7d;
  box-shadow: none;
  border: none;
  margin: auto;
  height: 165px;
}

/*
The Middle Bar Row: Search Bar + Words
 */
.nga-logo.row {
  margin: 10px;
  color: white;
}

/*
Main Menu ROW
 */
.main-menu.row {
  background: #0d2f4b;
  padding: 0;
  margin: 0;
}

/*
Main Menu
 */
.ui.borderless.main-menu.menu {
  background: #0d2f4b;
  margin: -12px;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: bold;
}

/*
Main Menu
 */
.ui.main-menu.item {
  color: white;
  font-weight: bold;
}

/*
Main Content
 */
.main-content.row {
  background-image: linear-gradient(to top, rgba(8, 39, 64, 0.60) 0%, rgba(8, 39, 64, 0.60) 100%), url("earth.jpg");
  background-size: cover;
  /*
  Text Formatting
   */
  color: white;
  font-weight: bold;
  font-size: 1.65rem;
  line-height: 1.8;
  text-shadow: -1px -1px 1px rgba(255 255 255 0.1), 1px 1px 1px rgba(0 0 0 .5);
}

/*
Main Content Badge Thingies
 */
.main-content-badge.image {
  margin-top: -14px;
  width: 125px;
  margin-bottom: 50px;
}

/*
Main Content Rows
 */
.left.aligned.sub-main-content.row {
  margin-bottom: 40px;
}

/*
Main Content Rows
 */
.left.aligned.bottom-sub-main-content.row {
  margin-bottom: 150px;
}

/*
Our Mission Rows
 */
.our-mission.row {
  padding: 40px;
  height: 600px;
  background-size: contain;
  margin: 0;
  background-image: linear-gradient(to top, rgba(251, 251, 251, 0) 0%, rgba(251, 251, 251, 1) 100%), url(https://www.nga.mil/generated/assets/files/topography-1500-658e8d.png);
}

h4.our-mission {
  color: #565c65;
  line-height: 1.4;
  margin-left: 0;
  margin-top: 40px;
  font-family: 'Public Sans', sans-serif;
}

h1.our-mission {
  font-family: 'Arvo', serif;
  color: teal;
  margin-left: 0;
  margin-top: 40px;
  font-size: 1.99rem;
  line-height: 1.2;
  font-weight: bold;
}

.our-mission.ui.button {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #154e7d;
  border-radius: 1px;
  color: white;
}

.our-mission.card {
  background: white;
  margin-top: 5px;
  padding: 10px;
  margin-bottom: 25px;
}

h4.our-mission-right {
  margin-top: 60px;
}

.ui.top.aligned.floated.our-mission.image {
  align-content: center;
  height: 60px;
  width: 60px;
}

.our-mission-special{
  margin: -10px;
}

p.our-mission-inner, h4.our-mission-inner {
  font-family: 'Public Sans', sans-serif;
  font-size: small;
  margin: 0;
}


